.candidates {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);

	width: 100%;
	height: 100%;

	font-size: 11px;
	color: transparent;
}

.candidates:hover {
	color: #c4c4c4;
}

.candidateCell {
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;

	transition: all 0.3s ease;
}

.candidateCell:hover {
	color: #7eaefc;
}

.candidateCellActive {
	color: #2979fa;
}

.candidateCellActive:hover {
	color: #2979fa;
}

.candidateCellHidden {
	color: transparent;
}

.candidateCellHidden:hover {
	color: transparent;
}
