.board {
	position: relative;

	display: grid;
	grid-template-columns: repeat(9, 1fr);
	grid-template-rows: repeat(9, 1fr);
	overflow: hidden;

	margin-top: -100px;
	margin-bottom: 25px;
	margin-left: 10px;
	margin-right: 10px;

	border: 1px solid #edf1f8;
	border-radius: 6px;
	box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
	background: white;
	user-select: none;
}

@media (min-width: 761px) {
	.board {
		width: 452px;
		margin-left: auto;
		margin-right: auto;
		margin-top: -140px;
	}
}
